ORIGIN_URL=origin-url

BETTER_AUTH_URL=better-auth-url

DATABASE_URL=postgres-connection-url

NODE_ENV=development # or production

DIA_PWD_SECRET_KEY=i-am-a-secret-change-me
BETTER_AUTH_SECRET=i-am-a-secret-change-me

DEFAULT_ADMIN_NAME="I am a name"
DEFAULT_ADMIN_EMAIL=change-me@example.com
DEFAULT_ADMIN_PWD=i-am-a-password-change-me
