APP_URL=app-url

# usually just the same value as APP_URL
BETTER_AUTH_URL=better-auth-url

DATABASE_URL=postgres-connection-url

NODE_ENV=development # or production

DIA_PWD_SECRET_KEY=i-am-a-secret-change-me
BETTER_AUTH_SECRET=i-am-a-secret-change-me

DEFAULT_ADMIN_PWD=i-am-a-password-change-me
